.item {
  border: solid 1px rgb(200, 200, 200);
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: rgb(239, 239, 239);
  .form-control {
    max-width: 110px;
    margin-right: 1rem;
  }
}

